<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Student Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../static/student_profile.css" />
</head>

<body>
      
    <header class="top-nav">
        <button><a href="/student-dashboard">Dashboard</a></button>
        <form action="/logout", method="POST">
        <button type="submit">Logout</button>
        </form>
    </header> 
       <!-- <aside class="sidebar">
            <h2>TaskFlow</h2>
            <nav>
                <ul>
                    <li><a href="">Dashboard</a></li>
                    <li><a href="/student/profile">View Profile</a></li>
                    <li><form action="/logout", method="POST">
                        <button type="submit">Logout</button>
                    </form></li>
                </ul>
            </nav>
        </aside> -->
    
    <main class="profile">
        <div class="banner">
            <div class="profile-pic"></div>
        </div>

        <div class="profile-details">
            <h2>{{ user.name }}</h2>
            <p>Student <a href='/update-profile-student'><i class="bi bi-pencil-fill" style="cursor:pointer"></i></a></p>
        </div>

        <section class="info-section">
            <h3>Personal Details</h3>
            <p><strong>Name:</strong> {{ user.name }}</p>
            <p><strong>Email ID:</strong> {{ user.email }}</p>
            <p><strong>Resume:</strong> 
                <a href="{{ user.resume_link }}" target="_blank">View Resume</a>
            </p>
        </section>

        <section class="info-section">
            <h3>Skills</h3>
            <p>{{ user.skills }}</p>
        </section>

        <section class="info-section">
            <h3>Projects</h3>
            <div class="projects-container">
                {% for project in user.projects %}
                    <div class="project-card">
                        <strong>{{ project.title }}</strong>
                        <p><strong>domain:</strong> {{ project.domain }}</p>
                    </div>
                {% endfor %}
                {% if not user.projects: %}
                    <p>No Projects</p>
                {% endif %}
            </div>
        </section>
    </main>

</body> 

  
</html>
